version: 2
jobs:
  build:
    docker:
    - image: circleci/python:3.8
    - image: circleci/postgres:12
      environment:
        POSTGRES_USER: circleci_user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: circleci_test
    - image: mysql:latest
      environment:
        MYSQL_HOST: 127.0.0.1
        MYSQL_ROOT_HOST: "%"
        MYSQL_USER: circleci_user
        MYSQL_PASSWORD: password
        MYSQL_ROOT_PASSWORD: password
        MYSQL_DATABASE: circleci_test
    working_directory: ~/pangres
    steps:
    - checkout
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "requirements.txt" }}
        - v1-dependencies-
    - run:
        name: install dependencies
        command: |
          python3 -m venv venv
          . venv/bin/activate
          pip install -r requirements.txt
    - save_cache:
        paths:
        - ./venv
        key: v1-dependencies-{{ checksum "requirements.txt" }}
    - run:
        name: run tests
        command: |
          . venv/bin/activate
          # install package (fetches setup.py in current directory)
          pip install .
          # we need cryptography for MySQL
          pip install codecov coverage numpy pytest pytest-benchmark pytest-cov
          pip install psycopg2 pymysql cryptography tabulate npdoc_to_md
          # use pytest
          ## first test with sqlalchemy latest i.e. sqlalchemy>=1.4 (after API changes, notably engine.has_table being deprecated)
          pytest -sxv pangres --cov=pangres --doctest-modules --sqlite_conn=sqlite:///:memory: --pg_conn=postgresql://circleci_user:password@localhost:5432/circleci_test?sslmode=disable --mysql_conn=mysql+pymysql://circleci_user:password@127.0.0.1:3306/circleci_test
          ## second test with sqlalchemy<1.4 (before API changes)
          pip install sqlalchemy==1.3.24
          pytest -sxv pangres --cov=pangres --cov-append --doctest-modules --sqlite_conn=sqlite:///:memory: --pg_conn=postgresql://circleci_user:password@localhost:5432/circleci_test?sslmode=disable --mysql_conn=mysql+pymysql://circleci_user:password@127.0.0.1:3306/circleci_test
          codecov
workflows:
  version: 2
  workflow:
    jobs:
    - build
